
.classes-grid {
    -fx-background-color: white ;
    -fx-padding: 10 ;
}
.classes-grid-cell {
    -fx-border-color: dimgray;
    -fx-border-width: 0 1 1 0;
    -fx-background-color: transparent;
}
.classes-grid-cell.first-row {
    -fx-border-width: 1 1 1 0 ;
}
.classes-grid-cell.first-column {
    -fx-border-width: 0 1 1 1 ;
}
.classes-grid-cell.first-row.first-column {
    -fx-border-width: 1 ;
}

.classes-grid-cell.grey {
    -fx-background-color: #3d4058;
}

.label.white-text {
    -fx-text-fill: white;
}

.label.pair {
    -fx-font-size: 11pt;
}

.label.big {
    /*-fx-font-weight: bold;*/
    -fx-font-size: 13pt;
}
