
.auditorium-pane {
    -fx-background-color: #bdbdbd;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.auditorium-filters {
    -fx-background-color: lightgrey;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);

    -fx-padding: 0 20 0 15;
}

.auditorium-filter-name {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

.auditorium-name {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

.auditorium-separator {
    -fx-background-color: #212121;
}


.auditorium-free {
    /*1 131 1*/
    -fx-background-color: rgba(0, 190, 0, 0.75);
    -fx-border-color: black;
    -fx-border-width: 0 1 0 1;
}

.auditorium-busy {
    -fx-background-color: rgba(255, 35, 35, 0.7);
    -fx-border-color: black;
    -fx-border-width: 0 1 0 1;
}
