
.auditorium-pane {
    -fx-background-color: #bdbdbd;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.auditorium-name {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

.auditorium-separator {
    -fx-background-color: #212121;
}


.auditorium-free {
    -fx-background-color: green;
    -fx-border-color: black;
    -fx-border-width: 0 1 0 1;
}

.auditorium-busy {
    -fx-background-color: red;
    -fx-border-color: black;
    -fx-border-width: 0 1 0 1;
}
