

.text-input.error {
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}

.jfx-date-picker.error {
    -jfx-default-color: red;
    -jfx-unfocus-color: blue;
}

.jfx-time-picker.error {
    -jfx-default-color: red;
    -jfx-unfocus-color: blue;
}
